@font-face {
  font-family: IRANSans;
  src: url("./IRANSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: IRANSans;
  src: url("./IRANSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: IRANSans;
  src: url("./IRANSans-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: IRANSans;
  src: url("./IRANSans-Bold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: IRANSans;
  src: url("./IRANSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: IRANSans;
  src: url("./IRANSans-Bold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: IRANSans;
  src: url("./IRANSans-Bold.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: IRANSans;
  src: url("./IRANSans-Bold.ttf") format("truetype");
  font-weight: bold;
}
